<template>
	<v-container class="mt-4" fluid>

	  <v-row >

	  	<!-- No hay caja  -->
			<v-col cols="12" class="pa-3 py-0" v-if="parametrosCaja.estatus">
				<AbrirCaja v-if="parametrosCaja.estatus" :parametrosCaja="parametrosCaja"/>
			</v-col>

			<!-- Modulo de caja -->
	  	<v-col cols="12" md="4" class="py-0" v-if="!parametrosCaja.estatus">
	  		<v-card class="elevation-4 py-0 pa-2">
	  			<v-card-title class="text-h5 font-weight-bold">
	  				PRODUCTOS
	  				<v-spacer></v-spacer>
	  				<v-icon color="primary">mdi-shopping</v-icon> | {{ carrito.length }} | 
	  			</v-card-title>
					
					<!-- Sin productos -->
					<v-card 
						v-if="!carrito.length"
	  				:height="$vuetify.breakpoint.height - 265"  
	  				style="display: table;" 
	  				class="elevation-0 text--center white--text"
	  				align="center" 
	  				width="100%"
						color="grey lighten-2"
	  			>
	  				<div align="center" class="text--center sinproducto">
	  					<v-img src="@/assets/no_producto3.png" contain max-width="230"></v-img> 
	  				</div>
	  			</v-card>

	  			<!-- Con productos -->
	  			<v-card-text v-if="carrito.length > 0">
		  			<v-card 
		  				:height="$vuetify.breakpoint.height - 280" 
		  				style="overflow-y: scroll; overflow-x: hidden;" 
		  				class="elevation-0"
		  			>
		  				<v-card 
								v-for="(art, i) in carrito" :key="i" 
								class="elevation-0 mb-4"
							>
				  			<v-row >
				  				<v-col cols="4">
				            <v-img :src="url + art.foto" v-if="art.foto"></v-img>
				    			  <v-img src="@/assets/blanco.jpg" v-else></v-img>
				  				</v-col>

				  				<v-col cols="8">
					          <v-card-text class="pt-1 pa-0">
					          	<h5 class="text-xs-center primary--text font-weight-black">{{ art.nomart }} </h5>
					          	<h5 class="text-xs-center primary--text font-weight-black">Precio: {{ art.precio1 }} </h5>
					          	<h5>Importe: {{ art.cantidad * art.precio1 }}</h5>
					          </v-card-text>
				  				</v-col>
				  				<v-btn
				  					absolute
							      fab
							      top
							      right
							      small
							      icon
				  					color="grey"
				  					class="mt-6"
				  				><v-icon>mdi-delete</v-icon></v-btn>
				  			</v-row>
				  			<v-card-actions >
			            <v-btn small color="primary" @click="addCarrito(art)"><v-icon >add</v-icon></v-btn>
			            <v-spacer></v-spacer>
			            <h5>{{ art.cantidad }}</h5>

			            <v-spacer></v-spacer>
			            <v-btn small dark color="error " @click="removeCarrito(art, i)"><v-icon >remove</v-icon></v-btn>
			          </v-card-actions>
				  			<v-divider></v-divider>

		  				</v-card>
		  			</v-card>
	  			</v-card-text>

	  			<!-- El totoal de la caja -->
	  			<v-footer style="border-radius: 0px" class="pa-2" >
						<div class="text-h6  font-weight-black ma-1">TOTAL: </div>
						<v-spacer></v-spacer>
						<div class="text-h6 font-weight-black ma-1">  ${{ total }} </div>
	  			  <v-btn 
	  			  	:disabled="carrito.length > 0 ? false:true"
	  			  	class="subtitle-1 my-1" 
	  			  	@click="abrirDialogPago()"
	  			  	color="success" 
							block 
	  			  >
							PROCESAR PAGO
						</v-btn>
	  			</v-footer>
  			</v-card>
	  	</v-col>

	  	<!-- Modulo de productos -->
	  	<v-col cols="12" md="8" class="py-0" v-if="!parametrosCaja.estatus">
	  		<v-card outlined class="shadowCard">
	  			<v-tabs color="primary" right  dense>
			      <v-tab class="text-capitalize">Productos | {{ articulos.length }}  |</v-tab>
			      <!-- <v-tab class="text-capitalize">Promociones |  {{ promociones.length }} |</v-tab> -->
			      <v-tab class="text-capitalize green darken-1 "> <v-icon large class="white--text"> mdi-cash-fast </v-icon> </v-tab>
			      <!-- <v-tab class="text-capitalize error" > <v-icon  large class="white--text"> mdi-cash-register </v-icon>  </v-tab> -->
					  
						<!-- *********** Tab de prodctos ************************* -->
			      <v-tab-item>
			        <v-container fluid>
			          <v-row>
			          	<v-col cols="12">
			          		<v-card class="elevation-0" id="eventos2" :height="$vuetify.breakpoint.height - 180" style="overflow-y: scroll;">
			          		  <v-card-title primary-title>
			          		   <v-spacer></v-spacer>
			          		   <v-text-field
			          		     outlined
			          		     dense
			          		     hide-details
			          		     label="Buscar"
			          		     append-icon="mdi-magnify"
			          		     v-model="searchProducto"
			          		     @keyup.enter="addCarritoScan( searchProducto )"
			          		   ></v-text-field> 
			          		  </v-card-title>

			          		  <!-- Productos -->
			          		  <v-card class="elevation-0 transparent">
			          		  	<v-card-text>
					          		  <v-data-table
												    :headers="headers"
												    :items="articulos"
												    class="elevation-0"
												    :search="searchProducto"
												    :page.sync="page"
												    @page-count="pageCount = $event"
												    hide-default-footer
												  >
												  	<template v-slot:item.nomart="{ item }">
												  		<span class="text-caption">{{ item.nomart }}</span>
												    </template>

												    <template v-slot:item.receta="{ item }">
								              <v-chip v-if="item.receta == 1" color="green" dark small>Con receta</v-chip>
								              <v-chip v-else color="grey" dark small>Sin receta</v-chip>
								            </template>

								            <template v-slot:item.foto="{ item }">
								              <v-img :src="url + item.foto"    width="50" v-if="item.foto"></v-img>
								              <v-img src="@/assets/blanco.jpg" width="50" v-else></v-img>
								            </template>

												  	<template v-slot:item.actions="{ item }">
												  		<v-chip 
												  			@click="addCarrito(item)"
												  			dense
												  			v-if="item.existencia > 0"
												  			small
												  			color="primary"
												  			class="text-capitalize"
												  		>Agregar</v-chip>

												  		<v-chip
												  			v-else 
												  			dense
												  			disabled
												  			small
												  			color="primary"
												  			class="text-capitalize"
												  		>Sin existencia</v-chip>
												    </template>

												  </v-data-table>
			          		  	</v-card-text>
			          		  	<v-card-actions>
			          		  		<v-spacer></v-spacer>
										      <v-pagination
										        v-model="page"
										        :length="pageCount"
										        circle
										        :total-visible="7"
										      ></v-pagination>
			          		  	</v-card-actions>
			          		  </v-card>
			          		</v-card>
			          	</v-col>
			          </v-row>
			        </v-container>
			      </v-tab-item>

            <!-- ********** TAB DE CIERRE DE CAJA ************************************ -->
			      <v-tab-item>
			        <v-container fluid>
			          <v-row>
			          	<v-col cols="12">
			          		<v-card class="elevation-0" id="eventos" :height="$vuetify.breakpoint.height - 200" style="overflow-y: scroll;">
											<CIERRECAJA/>		
			          		</v-card>
			          	</v-col>
			          </v-row>
			        </v-container>
			      </v-tab-item>

						<!-- ********* Retiro de efectivo ********************************* -->
						<v-tab-item>
							<RETIRO/>
						</v-tab-item>

							<!-- ********* Cierre de caja  ********************************* -->
						<v-tab-item>
							<CIERRECAJA/>
						</v-tab-item>

			    </v-tabs>
	  		</v-card>
	  	</v-col>
	  </v-row>
  
    <!-- Dialogo del proceso del pago -->
    <v-dialog
      v-model="dialogPago"
      max-width="400"
    >
      <v-card>
      	<v-container v-if="pasoPago == 1">
      		<v-card-title primary-title>
      		  Selecciona el metódo de pago
      		</v-card-title>
      		<v-card-text class="pb-0">
				    <v-radio-group v-model="tipoPago" hide-details class="pb-0">
				      
				      <v-radio
				      	label="Efectivo"
				      	:value="2"
				      	class="mb-6"
				      ></v-radio>

				      <v-radio
				      	label="Tarjeta"
				      	:value="1"
				      	class="mb-6"
				      ></v-radio>

				      <v-radio
				      	label="Ambas"
				      	:value="3"
				      	class="mb-6"
				      ></v-radio>
				    </v-radio-group>
      		</v-card-text>
			    <v-card-actions class="pt-0">
			    	<v-spacer></v-spacer>
			      <v-btn color="primary" @click="pasoPago = 2">Siguiente</v-btn>
			    </v-card-actions>
      	</v-container>

      	<v-container v-if="pasoPago == 2">
      		<v-card-title primary-title>
      		  Total
      		  <v-spacer></v-spacer>
      		  ${{ (parseFloat(total) + parseFloat(redondeo)).toFixed(2) }} 
      		</v-card-title>

      		<v-card-text>
      		  <v-text-field
      		  	dense
      		  	v-model.number="pago_tarjeta"
      		  	label="Pago"
      		  	v-if="tipoPago == 1 || tipoPago == 3"
      		  	outlined
      		  	:readonly="tipoPago == 1 ? true: false"
      		  ></v-text-field>

      		  <v-text-field
      		  	dense
      		  	v-model.number="pago_efectivo"
      		  	label="Pago"
      		  	v-if="tipoPago == 2 || tipoPago == 3"
      		  	outlined
      		  ></v-text-field>

      		  <v-text-field
      		  	dense
      		  	v-model.number="cambio"
      		  	label="Cambio"
      		  	outlined
      		  	v-if="tipoPago > 1"
      		  	readonly
      		  ></v-text-field>

      		  <v-checkbox label="¿Desea redondear?" v-model="isRedondeo"></v-checkbox>
      		</v-card-text>
			    
			    <v-card-actions>
			      <v-btn color="grey"    dark @click="pasoPago = 1">Regresar</v-btn>
			    	<v-spacer></v-spacer>
			      <v-btn color="primary" @click="procesarPago()" v-if="pago_tarjeta || pago_efectivo">Procesar</v-btn>
			    </v-card-actions>
      	</v-container>

      	<v-btn 
          absolute
          fab
          text
          small
          top
          right
          class="mt-5 pr-0"
          @click="dialogPago = false, pago_tarjeta = 0, pago_efectivo = 0, cambio = 0, pasoPago = 1, tipoPago = 0"
        ><v-icon>mdi-close</v-icon></v-btn>

      </v-card>
    </v-dialog>

    <Alerta    v-if="respuestaAlerta" :parametros="parametros"/>
    <Loader    v-if="cargar"          :loader="loader"/>

	</v-container>
</template>
<script>
	// Componentes
  import Alerta        from '@/components/alertas/Alerta.vue'
  import Loader        from '@/components/alertas/Loader.vue'

	// Imprtamos los datos de la caja
  import { dataCaja } from '@/views/CAJA/dataCaja'
	import RETIRO from '@/views/CAJA/retiro_efectivo.vue'
	import CIERRECAJA from '@/views/CAJA/cierre_caja.vue'
	import AbrirCaja from '@/views/CAJA/AbrirCaja.vue'
	import { mapGetters, mapActions } from 'vuex'

  export default {
		components: {
			RETIRO,
			CIERRECAJA,
			AbrirCaja,
			Alerta,
      Loader,
		},
    data: () => ({

    	respuestaAlerta: false,
      loader: true,
      cargar: false,
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

    	parametrosCaja:{
    		estatus: false
    	},

    	dialogTicket:false,

    	dialogCaja:false,
    	cajaFeria: 1,

    	searchProducto:'',

    	dialogSuccess: false,
      overlay: false,
      dialogError: 	false,
			error: 				'',
			successMensaje:'',
			errorBack:false,
      textoCopiado:'COPIAR',
      dialogDelete: false,
      dataCaja: [],

      articulos:[],
      promociones:[],
      url:'',

      carrito:[],
      dialogPago:false,
      tipoPago:0,

      pasoPago:1,
      pago_efectivo:0,
      pago_tarjeta:0,
      subtotal:0,
			descuento:0,
			idcaja:0,
			nombre_cliente:'',

			isRedondeo: false,
			
			page: 1,
      pageCount: 0,
			headers: [
        { text: 'Código'  , value: 'codigo' },
        { text: 'Artículo', value: 'nomart' },
        { text: 'Precio'  , value: 'precio1' },
        { text: 'Foto'    , value: 'foto' },
        { text: 'Cantidad', value: 'existencia' },
        { text: 'Receta'  , value: 'receta' },
        { text: 'Agregar' , value: 'actions' },
      ],
  }),

    async created(){
    	this.url = this.$http.options.root + 'imagenes_surtimedix/' 
    	await this.validarCaja()
    	await this.getArticulos()
    },

    watch:{
    	tipoPago( val ){
    		if( val == 1 ){
    			this.pago_tarjeta = this.total
    		}
    	},
    },

    computed:{
      ...mapGetters('Login', ['getdatosUsuario', 'getLogeado']),

    	filterArticulos(){
    		if(this.articulos){
          return this.articulos.filter((art)=>{
            var nom = art.nomart.toLowerCase();
            return nom.match(this.searchProducto.toLowerCase());
          })
        }
    	},

    	cambio (){
    		if(this.pago_efectivo > 0 ){
    			return ((this.pago_efectivo - this.total) - this.redondeo).toFixed(2)
    		}else{ return 0}
    	},

    	total(){
    		let total = 0
    		for(const i in this.carrito){
    			total += this.carrito[i].cantidad * this.carrito[i].precio1 
    		}
    		return total.toFixed(2)
    	},

    	redondeo(){
    		if(this.isRedondeo){
    			const decimalesRestantes = Math.ceil(this.total) - this.total
    			return decimalesRestantes
    		}else{
    			return 0
    		}
    	}
    },

    methods:{
    	...mapActions('Login',['obtenerCaja']),

    	validarCaja(){
    		this.overlay = true
    		return this.$http.get('caja.existe/' + this.getdatosUsuario.idusuariosweb).then((response) => {
    			this.obtenerCaja(response.body.data)
    			this.dialogCaja = false
          this.overlay    = false
        }).catch(error =>{
        	this.parametrosCaja.estatus = true
          this.valirdarErrorBack( error )
        }).finally( () => { this.cargar = false })
    	},

    	getArticulos(){
    		this.articulos = []
    		this.overlay = true
    		return this.$http.get('articulos.caja').then((response) => {
          this.overlay    = false
          this.articulos = response.body
          for(const i in this.articulos){
          	this.articulos[i] = {
          		...this.articulos[i],
          		cantidad:0
          	}
          }
        }).catch(error =>{
          this.valirdarErrorBack( error )
        }).finally( () => { this.cargar = false })
    	},

    	addCarrito(articulo){
    		const existeArticulo = this.carrito.find(el=> el.id == articulo.id)
    		if(existeArticulo){
    			if( articulo.cantidad < articulo.existencia){
    				existeArticulo.cantidad ++
    			}
    		}else{
    			articulo.cantidad = 1
    			this.carrito.push(articulo)
    		}
    	},

    	addCarritoScan(codigo){
    		this.searchProducto = ''
    		const articulo = this.articulos.find(el=> el.codigo == codigo)
    		const existeArticulo = this.carrito.find(el=> el.id == articulo.id)
    		if(existeArticulo){
    			if( articulo.cantidad < articulo.existencia){
    				existeArticulo.cantidad ++
    			}
    		}else{
    			articulo.cantidad = 1
    			this.carrito.push(articulo)
    		}
    	},

    	removeCarrito(articulo, position){
    		this.carrito[position].cantidad -- 
    		// Si es igual a 0 lo eliminamos
    		if(this.carrito[position].cantidad == 0){
    			this.carrito.splice(position, 1)
    		}
    	},

    	validarError(error){
    		// Validamos si es error del back
    		if(error.status){
    			// si es 400, la caja no esta abierta
					if(error.status == 400){
						// Abrir caja
	          this.dataCaja   = dataCaja
    				this.parametrosCaja.estatus = true
	        }else{
	        	// Si no, mostrar el error
	          this.error = error.body.message
		        this.errorBack = true
		        this.dialogError = true
	        }
    		}else{
    			this.errorBack   = false
	        this.dialogError = true
    		}
    		this.overlay = false
    	},

    	abrirDialogPago(){
    		this.dialogPago = true
    	},

    	copiarPortapapeles () {
        navigator.clipboard.writeText(this.error).then(() => {
          this.textoCopiado = 'COPIADO'
        }).catch(error =>{
          this.valirdarErrorBack( error )
        }).finally( () => { this.cargar = false })
      },

      procesarPago () {
      	this.cargar = true
      	const payload = {
      		tipo_pago:     this.tipoPago,
					idusuario:     1,
					pago_tarjeta:  this.pago_tarjeta,
					pago_efectivo: this.pago_efectivo,
					cambio:        this.cambio,
					subtotal:      this.subtotal,
					descuento:     this.descuento,
					total:         this.total,
					idcaja:        this.idcaja,
					productos:     this.carrito,
					redondeo:      this.redondeo,
      	}

      	this.$http.post('caja.pago.add', payload).then(response=>{
      		this.cargar = false
    			// this.dialogTicket   = true
      		this.carrito        = []
		      this.dialogPago     = false
		      this.tipoPago       = 0
		      this.pasoPago       = 1
		      this.pago_efectivo  = 0
		      this.pago_tarjeta   = 0
		      this.subtotal       = 0
					this.descuento      = 0
					this.nombre_cliente = ''

	      	this.dialogPago    = false
	      	this.validarSuccess( 'Datos grabados correctamente' )

	      	this.getArticulos()
      	}).catch(error =>{
          this.valirdarErrorBack( error )
        }).finally( () => { this.cargar = false })
      },

      validarSuccess( mensaje ){
        this.cargar = false
        this.parametros.mensaje      = mensaje
        this.parametros.dialogError  = true 
        this.parametros.color        = 'success'
        this.respuestaAlerta         = true 
      },

      validarErrorBasico( mensaje ){
        this.parametros.mensaje      = mensaje
        this.parametros.dialogError  = true 
        this.parametros.color        = '#FF2C2C'
        this.respuestaAlerta         = true 
      },

      valirdarErrorBack( error ){
        this.existe = true
        this.cargar = false 
        if( error.status == 400 || error.status == 500){
          this.parametros.mensaje      = error.body.message
          this.parametros.dialogError  = true 
          this.parametros.color        = '#FF2C2C'
          this.respuestaAlerta = true 
        }
      }
    }
  }
</script>
<style scoped>

	.titulo{
    -webkit-box-shadow: 0px 10px 13px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 10px 13px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 10px 13px -5px rgba(0,0,0,0.5);
	}

	.sinproducto{
		display: table-cell; 
		vertical-align: middle; 
		width: 100%;
	}

  #eventos::-webkit-scrollbar {
    -webkit-appearance: none !important;
  }

  #eventos::-webkit-scrollbar:vertical {
    width: 3px !important;
  }

  #eventos::-webkit-scrollbar-button:increment,.v-data-table__wrapper::-webkit-scrollbar-button{
    display: none;
  }

  #eventos::-webkit-scrollbar:horizontal{
    height: 3px !important;
  }

  #eventos::-webkit-scrollbar-thumb{
    background-color: #BABCBF;
    border-radius: 20px;
    border: 1px solid #ededed;
  }


  div.elevation-0.v-card.v-sheet.theme--light::-webkit-scrollbar {
    -webkit-appearance: none !important;
  }

  div.elevation-0.v-card.v-sheet.theme--light::-webkit-scrollbar:vertical {
    width: 3px !important;
  }

  div.elevation-0.v-card.v-sheet.theme--light::-webkit-scrollbar-button:increment,.v-data-table__wrapper::-webkit-scrollbar-button{
    display: none;
  }

  div.elevation-0.v-card.v-sheet.theme--light::-webkit-scrollbar:horizontal{
    height: 3px !important;
  }

  div.elevation-0.v-card.v-sheet.theme--light::-webkit-scrollbar-thumb{
    background-color: #BABCBF;
    border-radius: 20px;
    border: 1px solid #ededed;
  }

  .ticket {
    font-size: 12px;
    font-family: 'Times New Roman';
	}

	td,
	th,
	tr,
	table {
	    border-top: 1px solid black;
	    border-collapse: collapse;
	}

	td.producto,
	th.producto {
    width: 130px;
    max-width: 130px;
    padding-right: 5px;
	}

	td.cantidad,
	th.cantidad {
	    width: 45px;
	    max-width: 45px;
	    word-break: break-all;
	    padding-right: 5px;
	}

	td.precio,
	th.precio {
	    width: 50px;
	    max-width: 50px;
	    word-break: break-all;
	}

	tr,th{
		text-align: left;
	}

	.centrado {
	    text-align: center;
	    align-content: center;
	}

	.ticket {
	    width: 225px;
	    max-width: 225px;
	}

	.v-img {
    max-width: inherit;
    width: inherit;
	}

</style>



