<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="8" lg="6">
        <v-card class="elevation-0 cierreCaja" >
          <v-card-title primary-title>
            Cierre de caja
          </v-card-title>
          <p class="ml-4 text-body-1">
            Hola, tu caja cuenta con <strong>${{ totalFormatDinero }} </strong> <br>
            ¿Cuánto dinero se encuentra en tu caja?
          </p>
          <v-card-text>
            <v-text-field
              v-model="totalEnCaja"
              label="Ingresa la cantidad"
              filled
              type="number"
            ></v-text-field>

            <span>Cuentas con una diferencia de: {{ totalEnCaja - totalFormatDinero }} </span>
          </v-card-text>

          <v-card-actions>
            <v-btn color="secondary" block :disabled="disableBtnRetirar" @click="addRetiroCaja()">Registrar</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <!-- Dialogo para indicar que todo esta correcto -->
    <v-dialog
      v-model="dialogSuccess"
      hide-overlay
      max-width="450"
      max-height="100"
    >
      <v-card class="pa-5 py-0">
        <v-row no-gutters >
          <v-col cols="6">
            <v-card class="elevation-0 ma-0 pb-6" height="100%" style="display: table;">
              <div class="text-h6 " style="display: table-cell; vertical-align: middle;">
                <strong>¡Muy bien!</strong>, los datos se grabaron correctamente.
              </div>
            </v-card>
          </v-col>
          <v-col cols="6" class="pa-4">
            <v-img src="@/assets/correcto.png"></v-img>
          </v-col>
          <v-col cols="12" class="mt-5">
          </v-col>
        </v-row>

        <v-footer absolute  class="pa-1">
          <v-spacer></v-spacer>
          <!-- Guardar la información  -->
          <v-btn class="success--text" text block @click="dialogSuccess = false">¡LISTO!</v-btn>
        </v-footer>
      </v-card>
    </v-dialog>
    
    <!-- Dialog de carga -->
    <v-overlay :value="overlay">
      <v-card
        width="300"
        color="primary"
        dark
      >
        <v-card-text  class="text-subtitle-1">
          Cargando...
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0 mt-2"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-overlay>
    
    <!-- Dialogo para indicar errores -->
    <v-dialog
      v-model="dialogError"
      persistent
      max-width="400"
    >
      <v-card>
        <v-card-text>
          <v-row>
            <v-col cols="6">
              <v-card class="elevation-0" height="100%" style="display: table;">
                <div class="" style="display: table-cell; vertical-align: middle;">
                  <span v-if="errorBack">
                    <strong>ERROR</strong> Da clic en "COPIAR" para guardar el error y enviarlo a sistemas
                  </span>
                  <span v-else>
                    <strong>ERROR</strong> {{error}}
                  </span>
                  <v-card-actions class="pt-6">
                    <!-- Cerrar dialogo de confirmación y abrir el dialogo de editar la clase -->
                    <v-btn color="error" text large class="mr-2" @click="dialogError = false">Cerrar</v-btn>
                    <!-- Guardar la información  -->
                    <v-btn color="#D60F24" dark class="elevation-6" large @click="copiarPortapapeles()" v-if="errorBack">{{textoCopiado}}</v-btn>
                    <v-btn color="#D60F24" dark class="elevation-6" large @click="dialogError = false" v-else>Ok</v-btn>
                  </v-card-actions>
                </div>
              </v-card>
            </v-col>
            <v-col cols="6">
              <v-img src="@/assets/eliminar.png"></v-img>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    data:() =>({
      totalEnCaja: '',
      totalDineroEntrada:0,
      totalFormatDinero:0,

      dialogSuccess: false,
      overlay: false,
      dialogError:  false,
      error:        '',
      successMensaje:'',
      errorBack:false,
      textoCopiado:'COPIAR',
      dialogDelete: false,
    }),

    computed:{
      ...mapGetters('Login',['getCaja']),
      disableBtnRetirar () {
        if(this.totalEnCaja > 0 ){
          return false
        }else{
          return true
        }
      },
    },


    created(){
      this.initialize()
    },

    methods:{
      // Init de todo
      initialize(){
        this.overlay = true
        this.totalDineroEntrada = 0
        // Recibimos la cantidad ingresada al inicio y la parseamos a json
        const caja = JSON.parse(this.getCaja.datacaja)
        // Recorremos la caja
        for(const i in caja){
          // Acumulamos el dinero 
          this.totalDineroEntrada += parseFloat(caja[i].moneda) * parseFloat(caja[i].cantidad)
        }
        // Consultar el dinero en efectivo en caja
        this.getEfectivoEnCaja()
      },

      // Obtener el dinero que hay en caja
      getEfectivoEnCaja(){
        this.$http.get('caja.efectivo/' + this.getCaja.idcaja).then(response=>{
          console.log(response.body.efectivo)
          // Acumulamos el dinero 
          this.totalDineroEntrada += response.body.efectivo
          // Le damos formato al dinero 
          this.totalFormatDinero = new Intl.NumberFormat("en-IN", {maximumSignificantDigits: 3}).format(this.totalDineroEntrada)
          this.overlay = false
        }).catch(error=>{
          this.validarError(error)
        })
      },

      validarError(error){
        // Validamos si es error del back
        if(error.status){
          // si es 400, la caja no esta abierta
          if(error.status == 400){
            // Abrir caja
            this.dataCaja   = dataCaja
            this.dialogCaja = true
          }else{
            // Si no, mostrar el error
            this.error = error.body.message
            this.errorBack = true
            this.dialogError = true
          }
        }else{
          this.errorBack   = false
          this.dialogError = true
        }
        this.overlay = false
      },

      addRetiroCaja(){
        this.overlay = false 
        const payload = {
          idcaja     : this.getCaja.idcaja,
          dinero_caja: this.totalEnCaja,
          total_caja : this.totalFormatDinero,
          diferencia : ( this.totalEnCaja - this.totalFormatDinero ) 
        }

        this.$http.post('caja.cierre', payload ).then(response=>{
          this.overlay = false 
          this.totalEnCaja = 0
          location.reload()
        }).catch(error=>{
          this.validarError(error)
        })
      },
    },
  }
</script>
<style type="text/css">
  .cierreCaja {
    position: relative;
  }
</style>