<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card class="shadowCard">
          <v-card-title primary-title>
            <span class="text-body-1">Categorías</span>
            <v-spacer></v-spacer>
            <v-btn 
              align="right" 
              color="primary" 
              dark
              small
              rounded 
              @click="dialog = true"
            >
              Nuevo
            </v-btn>
          </v-card-title>

          <v-data-table
            :headers="headers"
            :items="categorias"
            sort-by="categoria"
            class="elevation-0"
            :search="search"
            dense
            :page.sync="page"
            @page-count="pageCount = $event"
            hide-default-footer
          >
            <template v-slot:top>
              <v-row justify="end">
                <v-col cols="12" md="6" lg="4">
                  <v-card-text class="py-0">
                    <v-text-field
                      prepend-inner-icon="mdi-magnify"
                      label="Buscar"
                      id="id"
                      filled
                      dense
                      v-model="search"
                    ></v-text-field>
                  </v-card-text>
                </v-col>
              </v-row>
            </template>

            <!-- Editar -->
            <template v-slot:item.editar="{ item }">
              <v-chip color="blue" dark small @click="editItem(item)">Editar</v-chip>
            </template>

            <template v-slot:no-data>
              <v-btn
                color="primary"
                @click="initialize"
              >
                Reset
              </v-btn>
            </template>

            <template v-slot:item.estatus="{ item }">
              <v-chip v-if="item.estatus == 1" color="green" dark small>Activo</v-chip>
              <v-chip v-else color="red" dark small>Inactivo</v-chip>
            </template>

            <template v-slot:no-data>
              <v-btn
                color="primary"
                @click="initialize"
              >
                Reset
              </v-btn>
            </template>
          </v-data-table>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              v-model="page"
              :length="pageCount"
              circle
              :total-visible="7"
            ></v-pagination>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <v-dialog
      v-model="dialog"
      max-width="500px"
    >
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
      >
        <v-card>
          <v-card-title>
            <span class="text-h5">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text class="pb-0">

            <v-autocomplete
              v-model="familia"
              :items="familias"
              label="Familias"
              return-object
              item-text="familia"
              item-value="idfammilias"
              :rules="[v => !!v || 'Campo requerido']"
              filled
              dense
            ></v-autocomplete>

            <v-text-field
              v-model="editedItem.categoria"
              label="Categoría"
              filled
              dense
              :rules="[v => !!v || 'Campo requerido']"
            ></v-text-field>

            <v-checkbox 
              label="Estatus" 
              v-model="editedItem.estatus" 
            >
            </v-checkbox>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red"
              dark
              @click="close"
              rounded
            >
              Cancelar
            </v-btn>
            <v-btn
              color="primary"
              dark
              @click="save"
              rounded
            >
              Guardar
            </v-btn>
          </v-card-actions>

        </v-card>
      </v-form>
    </v-dialog>

    <Alerta    v-if="respuestaAlerta" :parametros="parametros"/>
    <Loader    v-if="cargar"          :loader="loader"/>
  </v-container>
</template>

<script>

  // Componentes
  import Alerta        from '@/components/alertas/Alerta.vue'
  import Loader        from '@/components/alertas/Loader.vue'

  export default {

    components: {
      Alerta,
      Loader,
    },

    data: () => ({
      respuestaAlerta: false,
      loader: true,
      cargar: false,
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      page: 1,
      pageCount: 0,

      valid: true,
      search:'',
      text:'',
      color:'',
      snackbar: false,
      dialog: false,
      dialogDelete: false,
      headers: [
        { text: 'Id'       , align: 'left', value: 'idcategorias'},
        { text: 'Categoría', align: 'left', value: 'categoria'},
        { text: 'Familia'  , align: 'left', value: 'familia'},
        { text: 'Estatus'  , align: 'left', value: 'estatus'},
        { text: 'Editar'   , align: 'left', value: 'editar'},
      ],

      categorias: [],
      editedIndex: -1,
      editedItem: {
        idcategorias:0,
        categoria: '',
        idfamilias:0,
        estatus: 0,
      },

      defaultItem: {
        idfamilias:0,
        idcategorias:0,
        categoria: '',
        estatus: 0,
      },

      familia:null,
      familias:[]
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nueva categoría' : 'Editar Categoría'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {

      initialize () {
        this.categorias = []
        this.$http.get('categorias.all').then(response =>{
          if(response == null){
            this.loading = false
            this.productos = []
          }else{
            this.loading = false
            this.categorias = response.body

            this.categorias.forEach(element=>{
              element.estatus == 1 ? true:false
            })
          }
        })

        this.$http.get('familias.activo').then(response =>{
          this.familias = response.body
        }).catch(error=>{console.log(error)})
      },

      editItem (item) {
        this.editedIndex = this.categorias.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.familia = {idfamilias: this.editedItem.idfamilias, familia: this.editedItem.familia}
        this.dialog = true
      },


      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if(this.$refs.form.validate()){
          this.editedItem.estatus == false ? 0 : 1
          this.editedItem.idfamilias = this.familia.idfamilias

          if (this.editedIndex > -1) {
            this.cargar = true
            this.$http.put('categorias.update/'+ this.editedItem.idcategorias, this.editedItem).then(response=>{
              this.validarSuccess( 'Categoría actualizada' )
              this.initialize()
            }).catch(error =>{
              this.valirdarErrorBack( error )
            }).finally( () => { this.cargar = false })
          } else {
            this.cargar = true
            this.$http.post('categorias.add', this.editedItem).then(response=>{
              this.validarSuccess( 'Familia agregada' )
              this.initialize()
            }).catch(error =>{
              this.valirdarErrorBack( error )
            }).finally( () => { this.cargar = false })
          }
          this.close()
        }
      },

      validarSuccess( mensaje ){
        this.cargar = false
        this.parametros.mensaje      = mensaje
        this.parametros.dialogError  = true 
        this.parametros.color        = 'success'
        this.respuestaAlerta         = true 
      },

      validarErrorBasico( mensaje ){
        this.parametros.mensaje      = mensaje
        this.parametros.dialogError  = true 
        this.parametros.color        = '#FF2C2C'
        this.respuestaAlerta         = true 
      },

      valirdarErrorBack( error ){
        this.existe = true
        this.cargar = false 
        if( error.status == 400 || error.status == 500){
          this.parametros.mensaje      = error.body.message
          this.parametros.dialogError  = true 
          this.parametros.color        = '#FF2C2C'
          this.respuestaAlerta = true 
        }
      }
    },
  }
</script>