<template>
	<v-container>
		<v-row>
			<v-snackbar
        v-model="snackbar"
        :timeout="4000"
        top
        :color="color" dark
      >
        {{text}}
        <v-btn
          color="white"
          text
          @click="snackbar = false"
        >
          Cerrar
        </v-btn>
      </v-snackbar>

			<v-col cols="12">
				<v-data-table
					:loading="loading"
			    :headers="headers"
			    :items="sucursales"
			    sort-by="sucursal"
			    class="elevation-1"
			  >

			  	<template v-slot:item.estatus="{ item }">
			      <v-chip dense small rounden color="green" dark v-if="item.estatus">
			      	Activo
			      </v-chip>

			      <v-chip dense small rounden color="red" dark v-else>
			      	Inactivo
			      </v-chip>

			    </template>
			    <template v-slot:no-data>
			      <v-btn
			        color="primary"
			        @click="initialize"
			      >
			        Reset
			      </v-btn>
			    </template>


			    <template v-slot:top>
			      <v-toolbar
			        flat
			      >
			        <v-toolbar-title>sucursales</v-toolbar-title>
			        <v-divider
			          class="mx-4"
			          inset
			          vertical
			        ></v-divider>
			        <v-spacer></v-spacer>
			        <v-dialog
			          v-model="dialog"
			          max-width="500px"
			        >
			          <template v-slot:activator="{ on, attrs }">
			            <v-btn
			              color="primary"
			              dark
			              class="mb-2"
			              v-bind="attrs"
			              v-on="on"
			              rounded
			              small
			            >
			              Agregar
			            </v-btn>
			          </template>
			          <v-card>
			            <v-card-title>
			              <span class="text-h5">{{ formTitle }}</span>
			            </v-card-title>

			            <v-card-text>
			              <v-container>
			                <v-row>
			                  <v-col cols="12" class="pb-0">
			                    <v-text-field
			                    	outlined
			                    	dense
			                      v-model="editedItem.sucursal"
			                      label="sucursal"
			                      hide-details
			                    ></v-text-field>
			                  </v-col>

			                  <v-col cols="12" class="pb-0">
			                  	<v-switch
											      v-model="editedItem.estatus"
											      label="Activo"
											    ></v-switch>
			                  </v-col>
			                </v-row>
			              </v-container>
			            </v-card-text>

			            <v-card-actions>
			              <v-spacer></v-spacer>
			              <v-btn
			                color="secondary"
			                @click="close"
			                small
			                rounded
			              >
			                Cancelar
			              </v-btn>
			              <v-btn
			                color="primary"
			                @click="save"
			                small
			                rounded
			              >
			                Guardar
			              </v-btn>
			            </v-card-actions>
			          </v-card>
			        </v-dialog>
			        <v-dialog v-model="dialogDelete" max-width="500px">
			          <v-card>
			            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
			            <v-card-actions>
			              <v-spacer></v-spacer>
			              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
			              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
			              <v-spacer></v-spacer>
			            </v-card-actions>
			          </v-card>
			        </v-dialog>
			      </v-toolbar>
			    </template>
			    <template v-slot:item.actions="{ item }">
			    	<v-chip
			    		color="success" 
			    		class="text-capitalize"
			        @click="editItem(item)"
			        small
			        rounded
			    	>
			    		Editar
			    	</v-chip>
			    </template>
			    <template v-slot:no-data>
			      <v-btn
			        color="primary"
			        @click="initialize"
			      >
			        Reset
			      </v-btn>
			    </template>
			  </v-data-table>
			</v-col>
		</v-row>
	</v-container>
  
</template>
<script>
  export default {
    data: () => ({

    	snackbar:false,
			color:'',
			text:'',


    	loading:true,

      dialog: false,
      dialogDelete: false,
      headers: [
        {
          text: 'Id',
          align: 'start',
          value: 'idsucursales',
        },
        { text: 'sucursal', value: 'sucursal' },
        { text: 'Estatus', value: 'estatus' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      sucursales: [],
      editedIndex: -1,
      editedItem: {
        idsucursales: '',
        sucursal: '',
        estatus: true,
      },
      defaultItem: {
        idsucursales: '',
        sucursal: '',
        estatus: true,
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Agregar sucursal' : 'Editar sucursal'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
      	this.loading = true
      	this.$http.get('sucursales.all').then(response=>{
      		this.sucursales = response.body
      		this.loading = false
      	}).catch(error=>{
      		this.text = 'Error en el sistema'
      		this.color = 'error'
      		this.snackbar = true
      	})
      },

      editItem (item) {
        this.editedIndex = this.sucursales.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.sucursales.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.sucursales.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
      	if(this.editedItem.estatus == true){this.editedItem.estatus = 1}else{this.editedItem.estatus = 0}
        if (this.editedIndex > -1) {
          this.$http.put('sucursales.update/' + this.editedItem.idsucursales,this.editedItem).then(response=>{
          	this.text = 'Actualizado correctamente'
          	this.color = 'green'
          	this.snackbar = true
	      		this.initialize()
	      	}).catch(error=>{
	      		this.text = 'Error en el sistema'
	      		this.color = 'error'
	      		this.snackbar = true
	      	})
        } else {
        	this.$http.post('sucursales.add',this.editedItem).then(response=>{
        		this.text = 'Agregado correctamente'
          	this.color = 'green'
          	this.snackbar = true
	      		this.initialize()
	      	}).catch(error=>{
	      		this.text = 'Error en el sistema'
	      		this.color = 'error'
	      		this.snackbar = true
	      	})
        }
        this.close()
      },
    },
  }
</script>