<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card class="shadowCard">
          <v-card-title primary-title>
            <span class="text-body-1">Entradas</span>
            <v-spacer></v-spacer>
            <v-btn 
              align="right" 
              color="primary" 
              dark
              small
              rounded 
              @click="dialog = true"
            >
              Nuevo
            </v-btn>
          </v-card-title>

          <v-data-table
            :headers="headers"
            :items="entradas"
            class="elevation-0"
            :search="search"
            dense
            :page.sync="page"
            @page-count="pageCount = $event"
            hide-default-footer
          > 
            <template v-slot:top>
              <v-card-text>
                <v-row>
                  <v-col cols="12" sm="6" md="4" lg="3" class="pb-0">
                    <v-text-field
                      dense
                      v-model="inicio"
                      label="Fecha de inicio"
                      type="date"
                      filled
                      clearable
                    ></v-text-field>
                  </v-col>

                  <v-col cols="12" sm="6" md="4" lg="3" class="pb-0">
                    <v-text-field
                      dense
                      v-model="fin"
                      label="Fecha de fin"
                      type="date"
                      filled
                      clearable
                    ></v-text-field>
                  </v-col>
                  
                  <v-col cols="12" sm="6" md="4" lg="3">
                    <v-btn color="primary"   @click="filtroFechas()" small class="mr-2"><v-icon>search</v-icon></v-btn>
                    <v-btn color="secondary" @click="initialize()"   small>Todo</v-btn>
                  </v-col>

                </v-row>

                <v-row justify="end">
                  <v-col cols="12" md="6" lg="4">
                    <v-card-text class="py-0">
                      <v-text-field
                        prepend-inner-icon="mdi-magnify"
                        label="Buscar"
                        id="id"
                        filled
                        dense
                        v-model="search"
                      ></v-text-field>
                    </v-card-text>
                  </v-col>
                </v-row>
              </v-card-text>
            </template>

            <template v-slot:item.actions="{ item }">
              <v-icon
                small
                class="mr-2"
                @click="editItem(item)"
                color="blue"
              >
                mdi-pencil
              </v-icon>
            </template>

            <template v-slot:no-data>
              <v-btn
                color="primary"
                rounded
                small
                @click="initialize"
              >
                Actualizar
              </v-btn>
            </template>
            
          </v-data-table>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              v-model="page"
              :length="pageCount"
              circle
              :total-visible="7"
            ></v-pagination>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <!-- Agregar una entrada -->
    <v-dialog
      v-model="dialog"
      max-width="500px"
    >
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
      >
        <v-card>
          <v-card-title>
            <span class="text-h5">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text class="pb-0">
            <v-row>
              <v-col cols="12" class="pb-0">
                <v-autocomplete
                  v-model="producto"
                  :items="productos"
                  label="Producto"
                  return-object
                  item-text="nomart"
                  item-value="id"
                  :rules="[v => !!v || 'Campo requerido']"
                  filled
                  dense
                ></v-autocomplete>
              </v-col>

              <v-col cols="12" md="6">
                <v-text-field
                  v-model="cant"
                  filled
                  dense
                  type="number"
                  label="Cantidad"
                  :rules="[v => !!v || 'Campo requerido']"
                ></v-text-field>
              </v-col>

              <v-col cols="12" md="6">
                <v-text-field
                  filled
                  dense
                  v-model="fechaentr"
                  label="Fecha de entrada"
                  type="date"
                  :rules="[v => !!v || 'Campo requerido']"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red"
              dark
              @click="close"
              rounded
            >
              Cancelar
            </v-btn>
            <v-btn
              color="primary"
              dark
              @click="save"
              rounded
            >
              Guardar
            </v-btn>
          </v-card-actions>

        </v-card>
      </v-form>
    </v-dialog>

    <Alerta    v-if="respuestaAlerta" :parametros="parametros"/>
    <Loader    v-if="cargar"          :loader="loader"/>

  </v-container>
</template>

<script>

  import {mapActions, mapGetters} from 'vuex'
  import XLSX from 'xlsx'
  import  reportes_excel from '@/mixins/reportes_excel.js';
  

  // Componentes
  import Alerta        from '@/components/alertas/Alerta.vue'
  import Loader        from '@/components/alertas/Loader.vue'

  export default {
    mixins:[reportes_excel],
    
    components: {
      Alerta,
      Loader,
    },

    data: () => ({
      respuestaAlerta: false,
      loader: true,
      cargar: false,
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      page: 1,
      pageCount: 0,
  
      inicio:null,
      fin:   null,

      loading: true,

      search:'',
      entradas:[],

      headers: [
        { text: 'Codigo',               value: 'codigo'},
        { text: 'Nombre',               value: 'nomart'},
        { text: 'Fecha de ingreso',     value: 'fecha_creo' },
        { text: 'Cantidad',             value: 'cant' },
      ],

      valid: true,

      dialog: false,

      categorias: [],
      editedIndex: -1,

      editedItem: {
        idlaboratorios:0,
        nomlab: '',
        estatus: 0,
      },
      defaultItem: {
        idlaboratorios:0,
        nomlab: '',
        estatus: 0,
      },

      productos:[],
      producto:null,
      cant:'',
      fechaentr:null,

      sucursales:[],
      sucursal:null,

      dialogSuccess:false,
      overlay: false,
      dialogError:  false,
      error:        '',
      successMensaje:'',
      errorBack:false,
      textoCopiado:'COPIAR',
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nueva entrada' : 'Editar entrada'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    async created(){
      await this.getArticulos()
    },

    methods:{
      ...mapActions('productos',['traerProductos','addImg','verEntrada']),

      initialize(){
        this.entradas= []
        this.overlay = true
        return this.$http.get('entradas.list').then(response =>{
          this.overlay = false
          this.entradas = response.body
        }).catch(error =>{
          this.valirdarErrorBack( error )
        }).finally( () => { this.cargar = false })
      },

      getArticulos () {
        this.productos = []
        this.overlay = true
        return this.$http.get('articulos.list').then(response=>{
          this.productos = response.body
          this.overlay = false
        }).catch(error =>{
          this.valirdarErrorBack( error )
        }).finally( () => { this.cargar = false })
      },

      exportar(){
        this.exportarExcel('Entradas',this.entradas)
      },

      filtroFechas(){
        this.cargar = true
        this.entradas = []

        var payload = {
          inicio: this.inicio,
          fin:    this.fin
        }

        this.$http.post('entradas.fecha',payload).then(response =>{
          this.entradas = response.body
          this.cargar = false
        }).catch(error =>{
          this.valirdarErrorBack( error )
        }).finally( () => { this.cargar = false })
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if(this.$refs.form.validate()){
          if (!this.editedIndex > -1) {
            var payload = {
              idarts:       this.producto.id,
              cant:         this.cant
            }
            this.$http.post('entradas.add', payload).then(response=>{
              this.validarSuccess( 'Entrada registrada correctamente')
              this.initialize()
              this.close()
            }).catch(error =>{
              this.valirdarErrorBack( error )
            }).finally( () => { this.cargar = false })
          }
          this.close()
        }
      },

      validarSuccess( mensaje ){
        this.cargar = false
        this.parametros.mensaje      = mensaje
        this.parametros.dialogError  = true 
        this.parametros.color        = 'success'
        this.respuestaAlerta         = true 
      },

      validarErrorBasico( mensaje ){
        this.parametros.mensaje      = mensaje
        this.parametros.dialogError  = true 
        this.parametros.color        = '#FF2C2C'
        this.respuestaAlerta         = true 
      },

      valirdarErrorBack( error ){
        this.existe = true
        this.cargar = false 
        if( error.status == 400 || error.status == 500){
          this.parametros.mensaje      = error.body.message
          this.parametros.dialogError  = true 
          this.parametros.color        = '#FF2C2C'
          this.respuestaAlerta = true 
        }
      }
    },
  }
</script>





