<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card class="shadowCard">
          <v-card-title primary-title>
            <span class="text-body-1">Salidas</span>
            <v-spacer></v-spacer>
          </v-card-title>

          <v-data-table
            :headers="headers"
            :items="salidas"
            class="elevation-0"
            :search="search"
            dense
            :page.sync="page"
            @page-count="pageCount = $event"
            hide-default-footer
          > 
            <template v-slot:top>
              <v-card-text>
                <v-row>
                  <v-col cols="12" sm="6" md="4" lg="3" class="pb-0">
                    <v-text-field
                      dense
                      v-model="inicio"
                      label="Fecha de inicio"
                      type="date"
                      filled
                      clearable
                    ></v-text-field>
                  </v-col>

                  <v-col cols="12" sm="6" md="4" lg="3" class="pb-0">
                    <v-text-field
                      dense
                      v-model="fin"
                      label="Fecha de fin"
                      type="date"
                      filled
                      clearable
                    ></v-text-field>
                  </v-col>
                  
                  <v-col cols="12" sm="6" md="4" lg="3">
                    <v-btn color="primary"   @click="filtroFechas()" small class="mr-2"><v-icon>search</v-icon></v-btn>
                    <v-btn color="secondary" @click="initialize()"   small>Todo</v-btn>
                  </v-col>

                </v-row>

                <v-row justify="end">
                  <v-col cols="12" md="6" lg="4">
                    <v-card-text class="py-0">
                      <v-text-field
                        prepend-inner-icon="mdi-magnify"
                        label="Buscar"
                        id="id"
                        filled
                        dense
                        v-model="search"
                      ></v-text-field>
                    </v-card-text>
                  </v-col>
                </v-row>
              </v-card-text>
            </template>

            <template v-slot:item.actions="{ item }">
              <v-icon
                small
                class="mr-2"
                @click="editItem(item)"
                color="blue"
              >
                mdi-pencil
              </v-icon>
            </template>
            <template v-slot:no-data>
              <v-btn
                color="primary"
                @click="initialize"
              >
                Actualizar
              </v-btn>
            </template>

            <template v-slot:item.estatus="{ item }">
              <v-chip v-if="item.estatus == 1" color="green" dark small>Activo</v-chip>
              <v-chip v-else color="red" dark small>Inactivo</v-chip>
            </template>

            <template v-slot:no-data>
              <v-btn
                color="primary"
                @click="initialize"
              >
                Actualizar
              </v-btn>
            </template>
          </v-data-table>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              v-model="page"
              :length="pageCount"
              circle
              :total-visible="7"
            ></v-pagination>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <Alerta    v-if="respuestaAlerta" :parametros="parametros"/>
    <Loader    v-if="cargar"          :loader="loader"/>

  </v-container>
</template>

<script>

  import {mapActions, mapGetters} from 'vuex'
  import XLSX from 'xlsx'
  import  reportes_excel from '@/mixins/reportes_excel.js';
  

  // Componentes
  import Alerta        from '@/components/alertas/Alerta.vue'
  import Loader        from '@/components/alertas/Loader.vue'

  export default {
    mixins:[reportes_excel],
    
    components: {
      Alerta,
      Loader,
    },

    data: () => ({
      respuestaAlerta: false,
      loader: true,
      cargar: false,
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      inicio:null,
      fin:   null,
      menu: false,
      menu2: false,

      loading: true,
      longitud:5,
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      search:'',
      salidas:[],
      headers: [
        { text: 'Codigo',            value: 'codigo'},
        { text: 'Articulo',          value: 'nomart'},
        { text: 'Cantidad',          value: 'cant' },
        { text: 'Salida',            value: 'fecha' },
        { text: 'idventa',           value: 'recibio' },
        { text: 'iddetalle_venta',   value: 'nomuser' },
        { text: 'vendedor',          value: 'vendedor' },
      ],

      productos:[],
      producto:null,

      valid: true,
      search:'',
      text:'',
      color:'',
      snackbar: false,
      dialog: false,
      dialogDelete: false,
      categorias: [],
      editedIndex: -1,
      editedItem: {
        idlaboratorios:0,
        nomlab: '',
        estatus: 0,
      },
      defaultItem: {
        idlaboratorios:0,
        nomlab: '',
        estatus: 0,
      },

      salidas:[],
      producto:null,
      cant:'',
      fechaentr:null,
      recibio:'',
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nueva salida' : 'Editar salida'
      },
      ...mapGetters('Login', ['getdatosUsuario', 'getLogeado']),
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created(){
      
    },
    methods:{

      initialize(){
        this.salidas= []
        this.$http.get('salidas.list').then(response =>{
          if(response == null){
            this.loading = false
            this.salidas = []
          }else{
            this.loading = false
            this.salidas = response.body
            this.salidas.forEach(element=>{
              element.fecha = element.fecha.substr(0,10)
            })
            this.longitud = this.salidas.length
          }
        })
      },

      // EXCEL
      exportar(){
        let xls = {
          data:      this.salidas,
          tHeaders : ['Codigo', 'Nombre', 'Fecha de Salida', 'Lote', 'Recibio', 'Entrego'],
          filterVal: ['codigo', 'nomart', 'fecha',           'lote', 'recibio', 'entrego'],
          nomfile :  "Salidas"
        }
        this.exportExcel()
      },

      s2ab(s) {
        var buf = new ArrayBuffer(s.length);
        var view = new Uint8Array(buf);
        for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
        return buf;
      },

      exportExcel(){
        this.salidas.sort((a , b)=>{
          if (a.nomart > b.nomart) {
            return 1;
          }
          if (a.nomart < b.nomart) {
            return -1;
          }
          // a must be equal to b
          return 0;
        });
        let data = XLSX.utils.json_to_sheet(this.salidas)
        const workbook = XLSX.utils.book_new()
        const filename = 'Salidas'
        XLSX.utils.book_append_sheet(workbook, data, filename)

        var wbout = XLSX.write(workbook, {
          bookType: 'xls',
          bookSST: false,
          type: 'binary'
        });

        const file = new File([new Blob([this.s2ab(wbout)])], filename + '.xls')
        console.log(file)
        
        let formData = new FormData();
        // //se crea el objeto y se le agrega como un apendice el archivo 
        formData.append('file',file);
        // /*Initialize the form data*/
        console.log('formData', formData)


        this.$http.post('pdfs',formData).then(response=> {
          // alert(response.body)
          window.location = this.$http.options.root + 'pdfs/' + filename + '.xls'
        }).catch(error=> {
          alert(error.body)
          console.log(error);
        });

      },

      existencias(){
        this.$http.get('existencias.codigo/' + this.codigo2).then(response =>{
          if(response == null){
            this.loading = false
            this.productos = []
          }else{
            this.loading = false
            this.productos = response.body
            this.longitud = this.productos.length
          }
        })
      },

      filtroFechas(){
        this.salidas= []
        var payload = {
          inicio: this.inicio,
          fin:    this.fin
        }
        this.$http.post('salidas.fecha',payload).then(response =>{
          if(response == null){
            this.loading = false
            this.salidas = []
          }else{
            this.loading = false
            this.salidas = response.body
            this.longitud = this.salidas.length
          }

          this.salidas.forEach(element=>{
            element.fecha = element.fecha.substr(0,10)
          })
        })
      },

      save () {
        if(this.$refs.form.validate()){
          if(this.cant > this.producto.cant){
            this.text  = 'No puedes darle salida a: ' + this.cant + ' ya que solo tienes: ' + this.producto.cant
            this.snackbar = true
            this.color = 'error'
          }else{
            this.editedItem.estatus == false ? 0 : 1

            if (this.editedIndex > -1) {
              
            } else {
              var payloadSalida = {
                codigo:    this.producto.codigo,
                cant:      this.cant,
                recibio:   this.recibio,
                fecha:     new Date().toISOString().substr(0, 10),
                entrego:   this.getdatosUsuario.idusuariosweb
              }
              this.$http.post('salidas.add', payloadSalida).then(response=>{
                // Actualizar
                let payload2 = {idalmacen: this.producto.idalmacen, cant: this.producto.cant - this.cant}
                this.$http.put('almacen.update/' + this.producto.idalmacen, payload2).then(response=>{
                  // Actualizar
                  this.text  = 'Salida exitosa'
                  this.snackbar = true
                  this.color = 'green'
                  this.initialize()
                })
              })
            }
            this.close()
          }
        }
      },
    },

  }
</script>





