<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card class="shadowCard">
          <v-card-title primary-title>
            <span class="text-body-1">Doctores</span>
            <v-spacer></v-spacer>
            <v-btn 
              align="right" 
              color="primary" 
              dark
              small
              rounded 
              @click="dialog = true"
            >
              Nuevo
            </v-btn>
          </v-card-title>

          <v-data-table
            :headers="headers"
            :items="doctores"
            sort-by="familia"
            class="elevation-0"
            :search="search"
            dense
            :loading="loading"
            :page.sync="page"
            @page-count="pageCount = $event"
            hide-default-footer
          >
            <template v-slot:top>
              <v-row justify="end">
                <v-col cols="12" md="6" lg="4">
                  <v-card-text class="py-0">
                    <v-text-field
                      prepend-inner-icon="mdi-magnify"
                      label="Buscar"
                      id="id"
                      filled
                      dense
                      v-model="search"
                    ></v-text-field>
                  </v-card-text>
                </v-col>
              </v-row>
            </template>

            <!-- Editar -->
            <template v-slot:item.editar="{ item }">
              <v-chip color="blue" dark small @click="editItem(item)">Editar</v-chip>
            </template>

            <template v-slot:no-data>
              <v-btn
                color="primary"
                @click="initialize"
              >
                Reset
              </v-btn>
            </template>

            <template v-slot:item.estatus="{ item }">
              <v-chip v-if="item.estatus == 1" color="green" dark small>Activo</v-chip>
              <v-chip v-else color="red" dark small>Inactivo</v-chip>
            </template>

            <template v-slot:no-data>
              <v-btn
                color="primary"
                @click="initialize"
              >
                Reset
              </v-btn>
            </template>
          </v-data-table>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              v-model="page"
              :length="pageCount"
              circle
              :total-visible="7"
            ></v-pagination>
          </v-card-actions>

        </v-card>
      </v-col>
    </v-row>

    <!-- Agregar familia -->
    <v-dialog
      v-model="dialog"
      max-width="500px"
    >
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
      >
        <v-card>
          <v-card-title>
            <span class="text-h5">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text class="pb-0">

          	<v-row>
          		<v-col cols="12">
		            <v-text-field
		              v-model="editedItem.nombre"
		              label="Nombre"
		              filled
		              dense
		              hide-details
		              :rules="[v => !!v || 'Campo requerido']"
		            ></v-text-field>
          		</v-col>

          		<v-col cols="12" md="6">
		            <v-text-field
		              v-model="editedItem.cedula"
		              label="Cédula"
		              filled
		              dense
		              :rules="[v => !!v || 'Campo requerido']"
		              hide-details
		            ></v-text-field>
          		</v-col>

          		<v-col cols="12" md="6">
		            <v-text-field
		              v-model="editedItem.telefono"
		              label="Teléfono"
		              filled
		              dense
		              :rules="[v => !!v || 'Campo requerido']"
		              hide-details
		            ></v-text-field>
          		</v-col>

          		<v-col cols="12" md="6">
		            <v-text-field
		              v-model="editedItem.calle"
		              label="Calle"
		              filled
		              dense
		              :rules="[v => !!v || 'Campo requerido']"
		              hide-details
		            ></v-text-field>
          		</v-col>

          		<v-col cols="12" md="3">
		            <v-text-field
		              v-model="editedItem.numeroext"
		              label="Núm. Ext."
		              filled
		              dense
		              hide-details
		            ></v-text-field>
          		</v-col>

          		<v-col cols="12" md="3">
		            <v-text-field
		              v-model="editedItem.numint"
		              label="Núm. Int."
		              filled
		              dense
		              hide-details
		            ></v-text-field>
          		</v-col>

          		<v-col cols="12" md="8">
		            <v-text-field
		              v-model="editedItem.colonia"
		              label="Colonia"
		              filled
		              dense
		              :rules="[v => !!v || 'Campo requerido']"
		              hide-details
		            ></v-text-field>
          		</v-col>

          		<v-col cols="12" md="4">
		            <v-text-field
		              v-model="editedItem.cp"
		              label="CP"
		              filled
		              dense
		              :rules="[v => !!v || 'Campo requerido']"
		              hide-details
		            ></v-text-field>
          		</v-col>

          		<v-col cols="12">
		            <v-text-field
		              v-model="editedItem.estado"
		              label="Estado"
		              filled
		              dense
		              :rules="[v => !!v || 'Campo requerido']"
		              hide-details
		            ></v-text-field>
          		</v-col>
          	</v-row>

            <v-checkbox 
              label="Activo" 
              v-model="editedItem.estatus" 
            >
            </v-checkbox>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red"
              dark
              @click="close"
              rounded
            >
              Cancelar
            </v-btn>
            <v-btn
              color="primary"
              dark
              @click="save"
              rounded
            >
              Guardar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>

    <!-- Eliminar -->
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
          <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <Alerta    v-if="respuestaAlerta" :parametros="parametros"/>
    <Loader    v-if="cargar"          :loader="loader"/>
  </v-container>
</template>

<script>

  // Componentes
  import Alerta        from '@/components/alertas/Alerta.vue'
  import Loader        from '@/components/alertas/Loader.vue'

  export default {

    components: {
      Alerta,
      Loader,
    },

    data: () => ({
      respuestaAlerta: false,
      loader: true,
      cargar: false,
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      page: 1,
      pageCount: 0,

    	loading: false,
      valid: true,
      search:'',
      text:'',
      color:'',
      snackbar: false,
      dialog: false,
      dialogDelete: false,
      headers: [
        { text: 'Id',       value: 'iddoctores'},
        { text: 'Nombre',   value: 'nombre'},
        { text: 'Cédula',   value: 'cedula'},
        { text: 'Teléfono', value: 'telefono'},
        { text: 'Calle',    value: 'calle'},
        { text: 'Num. ext', value: 'numeroext'},
        { text: 'Num. int', value: 'numint'},
        { text: 'Colonia',  value: 'colonia'},
        { text: 'Cp',       value: 'cp'},
        { text: 'Estado',   value: 'estado'},
        { text: 'Estatus',  value: 'estatus'},
        { text: 'Editar',   value: 'editar'},
      ],

      doctores: [],
      editedIndex: -1,

      editedItem: {
        iddoctores:0,
				nombre:'',
				cedula:'',
				telefono:'',
				calle:'',
				numeroext:'',
				numint:'',
				colonia:'',
				cp:'',
				estado:'',
				estatus:0
      },

      defaultItem: {
        iddoctores:0,
				nombre:'',
				cedula:'',
				telefono:'',
				calle:'',
				numeroext:'',
				numint:'',
				colonia:'',
				cp:'',
				estado:'',
				estatus:0
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nuevo Doctor' : 'Editar Doctor'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {

      initialize () {
      	this.loading = true
        this.doctores = []
        this.$http.get('doctores.all').then(response =>{
          this.loading = false
          this.doctores = response.body

          this.doctores.forEach(element=>{
            element.estatus == 1 ? true:false
          })
      		this.loading = false

        }).catch(error =>{
            this.valirdarErrorBack( error )
          }).finally( () => { this.cargar = false })
      },

      editItem (item) {
        this.editedIndex = this.doctores.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
        this.editedItem.estatus = this.editedItem.estatus == 0 ? false : true
      },

      deleteItem (item) {
        this.editedIndex = this.doctores.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.doctores.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if(this.$refs.form.validate()){
          this.editedItem.estatus == false ? 0 : 1

          if (this.editedIndex > -1) {
            this.cargar = true
            this.$http.put('doctores.update/'+ this.editedItem.iddoctores, this.editedItem).then(response=>{
              this.validarSuccess( 'Familia actualizada' )
              this.initialize()
            }).catch(error =>{
              this.valirdarErrorBack( error )
            }).finally( () => { this.cargar = false })
          } else {
            this.cargar = true
            this.$http.post('doctores.add', this.editedItem).then(response=>{
              this.validarSuccess( 'Familia actualizada' )
              this.initialize()
            }).catch(error =>{
              this.valirdarErrorBack( error )
            }).finally( () => { this.cargar = false })
          }
          this.close()
        }
      },

      validarSuccess( mensaje ){
        this.cargar = false
        this.parametros.mensaje      = mensaje
        this.parametros.dialogError  = true 
        this.parametros.color        = 'success'
        this.respuestaAlerta         = true 
      },

      validarErrorBasico( mensaje ){
        this.parametros.mensaje      = mensaje
        this.parametros.dialogError  = true 
        this.parametros.color        = '#FF2C2C'
        this.respuestaAlerta         = true 
      },

      valirdarErrorBack( error ){
        this.existe = true
        this.cargar = false 
        if( error.status == 400 || error.status == 500){
          this.parametros.mensaje      = error.body.message
          this.parametros.dialogError  = true 
          this.parametros.color        = '#FF2C2C'
          this.respuestaAlerta = true 
        }
      }

    },
  }
</script>