<template>
  <v-container>
    <v-row>
      <v-col cols="12" lg="12">
        <v-card class="shadowCard">
          <v-card-title primary-title>
            <span class="text-body-1">Existencias</span>
            <v-spacer></v-spacer>
            
            <!-- BOTON EXCEL -->
            <v-btn 
              class="ma-2" 
              small dark color="warning"
              @click="exportar()">
              <v-icon>save_alt</v-icon>
            </v-btn>
          </v-card-title>

          <v-card-text>
            <v-row justify="end">
              <v-col cols="12" md="6" lg="4">
                <v-text-field
                  filled
                  v-model="search"
                  append-icon="search"
                  label="Buscar Productos"
                  single-line
                  hide-details
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>

          <v-card-text>
            <v-data-table
              :loading="loading"        
              :headers="headers"
              :items="productos"
              class="elevation-0"
              :search="search"
              :page.sync="page"
              @page-count="pageCount = $event"
              hide-default-footer
              dense
            >

              <!-- Estatus -->
              <template v-slot:item.estatus="{ item }">
                <v-chip v-if="item.estatus == 1" color="green" dark small>Activo</v-chip>
                <v-chip v-else color="red" dark small>Inactivo</v-chip>
              </template>

              <!-- Estatus -->
              <template v-slot:item.receta="{ item }">
                <v-chip v-if="item.receta == 1" color="green" dark small>Con receta</v-chip>
                <v-chip v-else color="grey" dark small>Sin receta</v-chip>
              </template>

              <!-- STATUSWEB -->
              <template v-slot:no-data>
                <v-alert type="info" color="primary" outlined :value="true">
                  No hay datos para mostrar
                </v-alert>
              </template>
            </v-data-table>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              v-model="page"
              :length="pageCount"
              circle
              :total-visible="7"
            ></v-pagination>
          </v-card-actions>

        </v-card>
      </v-col>
    </v-row>  
  </v-container>
</template>


<script>
  import {mapActions, mapGetters} from 'vuex'
  import XLSX from 'xlsx'

  
  export default {

    data: () => ({
    	
      loading: true,
      longitud:5,
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      search:'',
      productos:[],
      headers: [
        { text: 'Codigo', value: 'codigo' },
        { text: 'Nombre', align: 'left',sortable: false, value: 'nomart'},
        { text: 'Estatus', value: 'estatus' },
        { text: 'Sal', value: 'sal' },
        { text: 'Receta', value: 'receta' },
        { text: 'Cantidad', value: 'suma' },
      ],

      dialogSuccess:false,
      overlay: false,
      dialogError:  false,
      error:        '',
      successMensaje:'',
      errorBack:false,
      textoCopiado:'COPIAR',
    }),

    created(){
      this.productos = []
      this.overlay = true
      this.$http.get('existencias.list').then(response =>{
        this.overlay = false
        this.loading = false
        this.productos = response.body
      }).catch(error=>{
        // INdicamos que hay un error en el back
        if(error.body.message){
          this.error = error.body.message
        }else{
          this.error = error.body
        }
        this.errorBack = true
        this.overlay = false
        this.dialogError = true
      })
    },

    methods:{
      ...mapActions('productos',['verExis']),

      // EXCEL
      exportar(){
        this.$http.get('existencias.total').then(response =>{
          console.log(response)
        }).catch(error=>{
          // INdicamos que hay un error en el back
          if(error.body.message){
            this.error = error.body.message
          }else{
            this.error = error.body
          }
          this.errorBack = true
          this.overlay = false
          this.dialogError = true
        })

        
      },

      s2ab(s) {
        var buf = new ArrayBuffer(s.length);
        var view = new Uint8Array(buf);
        for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
        return buf;
      },

      exportExcel(value){
        value.sort((a , b)=>{
          if (a.nomart > b.nomart) {
            return 1;
          }
          if (a.nomart < b.nomart) {
            return -1;
          }
          // a must be equal to b
          return 0;
        });

        let data = XLSX.utils.json_to_sheet(value)
        const workbook = XLSX.utils.book_new()
        const filename = 'Existencias'
        XLSX.utils.book_append_sheet(workbook, data, filename)

        var wbout = XLSX.write(workbook, {
          bookType: 'xls',
          bookSST: false,
          type: 'binary'
        });

        const file = new File([new Blob([this.s2ab(wbout)])], filename + '.xls')
        console.log(file)
        
        let formData = new FormData();
        // //se crea el objeto y se le agrega como un apendice el archivo 
        formData.append('file',file);
        // /*Initialize the form data*/
        console.log('formData', formData)


        // console.log('archivo',archivo)

        this.$http.post('pdfs',formData).then(response=> {
          // alert(response.body)
          window.location = this.$http.options.root + 'pdfs/' + filename + '.xls'
        }).catch(error=> {
          alert(error.body)
          console.log(error);
        });

      },

      edit(item){
        this.verExis(item).then(response=>{
          this.$router.push({name:'verexistencia'})
        })
      }

      
    },

  }
</script>





