<template>
  <v-app id="inspire">

    <v-app-bar
      v-if="getLogeado == true"
      app
      dense
      color="primary"
      dark
    >
      <v-toolbar-title class="ml-0 ">
        <v-app-bar-nav-icon @click.stop="drawer = !drawer" v-if="getLogeado == true"></v-app-bar-nav-icon>
        <span>Sucursal</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click="salir" v-if="getLogeado == true">
        <v-icon>exit_to_app</v-icon>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer
      v-if="getLogeado == true"
      v-model="drawer"
      app
    >
      <v-list-item class="px-2">
        <v-list-item-avatar>
          <v-img
            :src="avatar"
          ></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>
            {{ getdatosUsuario.nomuser }}
          </v-list-item-title>
          <v-list-item-subtitle>{{ getdatosUsuario.nivel }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      
      <v-list nav dense class="mr-0">
        <template v-for="item in items">

          <v-list-group 
            v-model="item.model" 
            v-if="item.children" :key="item.text"  
            :prepend-icon="item.icon"
            color="primary"
            dense
          >
            <template v-slot:activator>
              <v-list-item>
                <v-list-item-content >
                  <v-list-item-title > 
                   {{ item.text}}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>

            <v-list-item
              v-for="(child, i) in item.children"
              :key="i"
              :to="child.path"
              dense
              nav
            >
               <v-list-item-action v-if="child.icon">
                  <v-icon>{{ child.icon }}</v-icon>
                </v-list-item-action>
                
              <v-list-item-content >
                <v-list-item-title >
                  {{ child.text }}
                </v-list-item-title>
              </v-list-item-content>

              
            </v-list-item>
          </v-list-group>
        </template>
      </v-list>
    </v-navigation-drawer>



    <!-- Ruteo de vistas -->
    <v-main>
      <router-view />
    </v-main>
    
  </v-app>
</template>

<script>
import store from '@/store'
import {mapGetters, mapActions} from 'vuex'

  export default {
    props: {
      source: String,
    },
    data: () => ({
      avatar:'',
      logo:'',
      drawer: null,
      items: [
        {
          icon: 'chrome_reader_mode', 
          text: 'Clasificar Productos',
          model: false,
          children: [
            { text: 'Familias'               ,path: 'familias',           icon:'mdi mdi-circle-medium theme--light'},
            { text: 'Categorías'             ,path: 'catlab',             icon:'mdi mdi-circle-medium theme--light'},
            { text: 'Subcategoria'           ,path: 'subcatego',          icon:'mdi mdi-circle-medium theme--light'},
            { text: 'Catálogo de articulos'  ,path: 'catproductos' ,      icon:'mdi mdi-circle-medium theme--light'},
          ],
        },

        {
          icon: 'mdi-cash-register',
          text :' Mostrador',
          model: false,
          children: [ 
            { text: 'Caja', icon: 'mdi mdi-circle-medium theme--light' ,path:'Caja'},
          ],
        },

        {
          icon: 'inbox', 
          text: 'Almácen',
          model: false,
          children: [
            // { text: 'Sucursales'             ,path: 'Sucursales'         , icon:'mdi mdi-circle-medium theme--light'},
            { text: 'Entradas  '             ,path: 'catentradas'        , icon:'mdi mdi-circle-medium theme--light'},
            { text: 'Salidas'                ,path: 'catsalidas'         , icon:'mdi mdi-circle-medium theme--light'},
            { text: 'Existencias'            ,path: 'catexistencia'      , icon:'mdi mdi-circle-medium theme--light'},
          ],
        },
        {
          icon: 'calendar_view_day', 
          text: 'Configuración',
          model: false,
          children: [
            { text: 'Usuarios'     ,path: 'catusuarios',   icon:'mdi mdi-circle-medium theme--light'},
            { text: 'Doctores'     ,path: 'Doctores',   icon:'mdi mdi-circle-medium theme--light'},
          ], 
        },
      ],
    }),

    created(){
      this.avatar = "https://ui-avatars.com/api/?background=1976d2&color=fff&rounded=true&format=svg&name=" + this.getdatosUsuario.nomuser

      if(this.getdatosUsuario.nivel == 'CAJA'){
        this.items =  [
          {
            icon: 'mdi-cash-register',
            text :' Mostrador',
            model: false,
            children: [ 
              { text: 'Caja', icon: 'mdi mdi-circle-medium theme--light' ,path:'Caja'},
            ],
          },
        ]
      }
    },

    methods:{
      ...mapActions('tema',['traerTema']),
      ...mapActions('Login', ['salirLogin']),

      salir(){
        this.salirLogin()
      },

    },

    computed:{
     ...mapGetters('Login', ['getdatosUsuario', 'getLogeado']),
     ...mapGetters('tema', ['getTema']),
    
      logueado(){
        return this.$store.state.usuario;
      },
    }
}



</script>
<style>

  main{
    background: #F4F2F2 ;
  }

 
  .v-navigation-drawer__content{

  }

  .v-navigation-drawer__content::-webkit-scrollbar {
    -webkit-appearance: none !important;
  }

  .v-data-table--fixed-header > .v-navigation-drawer__content::-webkit-scrollbar:vertical {
    width: 8px !important;
  }

  .v-navigation-drawer__content::-webkit-scrollbar:vertical{
    width: 8px !important;
  }

  .v-navigation-drawer__content::-webkit-scrollbar-button:increment,.v-navigation-drawer__content::-webkit-scrollbar-button{
    display: none;
  }

  .v-navigation-drawer__content::-webkit-scrollbar:horizontal{
    height: 8px !important;
  }

  .v-navigation-drawer__content::-webkit-scrollbar-thumb{
    background-color: #BABCBF;
    border-radius: 20px;
    border: 1px solid #ededed;
  }

  .v-main__wrap{
    background: #F4F2F2 !important;
  }

  .v-application--is-ltr .v-list-item__icon:first-child{
    margin-right: 8px !important;
  }

  .v-application--is-ltr .v-list-item__action:last-of-type:not(:only-child), .v-application--is-ltr .v-list-item__avatar:last-of-type:not(:only-child), .v-application--is-ltr .v-list-item__icon:last-of-type:not(:only-child) {
    margin-left: 6px !important;
  }


  .v-list-group .v-list-group__header .v-list-item__icon.v-list-group__header__append-icon {
    align-self: center;
    margin: 0;
    min-width: 0px !important;
    justify-content: flex-end;
  }


  .shadowCard{
    border-radius: 15px !important; 
    box-shadow: 0 20px 27px 0 rgba(0,0,0,0.1)  !important;
  }

  .avatares{
    background-image: linear-gradient(310deg, #17ad37 0%, #98ec2d 100%);
    border-radius: 7px !important; 
  }

  .bg-gradient{
    border-radius: 10px !important; 
    box-shadow: 0 20px 27px 0 rgba(0,0,0,0.1)  !important;
    background-image: linear-gradient(310deg, #17ad37 0%, #98ec2d 100%);
  }

  .styleText{
    font-weight:  bolder !important;
  }

  .back-img{
    position: relative;
    height:  100%;
    overflow: hidden;
    background-size: cover;
  }

  .sobrePosition{
    position: relative !important;
  }

  .mask-2 {
    position: absolute;
    background-size: cover;
    background-position: 100% 50%;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(27,60,136,.8) 0%, rgba(0,6,59,.9) 100%);
  }

  .grafica{
    z-index: 2;
  }
</style>